@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');

$font_1: 'Cairo', sans-serif;
$font_2: 'Rubik', sans-serif;

body {
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: 0.1fr 0.8fr 0.1fr 1fr;
    // grid-column-gap: 5px;
    // grid-row-gap: 5px;
    position: relative;
    font-family: $font_2;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background: url('../img/bg1.jpg') 50%/cover no-repeat;
    }
    
}
.header {
    // grid-area: 1 / 1 / 2 / 6;
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 10px;
    background-color: rgba(35,35,3, 0.2);
    font-size: 30px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                     0px -5px 35px rgba(255,255,255,0.3);
    
}

::-webkit-scrollbar {
    width: 20px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}