@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');

$font_1: 'Cairo', sans-serif;
$font_2: 'Rubik', sans-serif;

.countriesModule {
    position: absolute;
    top: calc(38% + 4px);
    left: 0;
    width: 20%;
    height: 60%;
    padding: 28px 10px;
    box-shadow: inset 0 0 10px;
    background-color: rgba(35,35,3, 0.2);
    border-radius: 5px 5px 5px 0;
    transition: 0.5s;
    // grid-area: 3 / 1 / 5 / 2;
    &.fullscreen {
        width: 100%;
        height: 100%;
        z-index: 50;
        font-size: 42px;
        left: 0; 
        top: 0;
        background-color: #b3b8ab;  
    }
}
.fullScreenCountreisBtn {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url('../img/fullscreen.png') 50%/cover no-repeat;
    transition: 1s;
    @keyframes fullscreenBtnAnimation {
        50%{transform : scale(0.6)}
    }
    &:hover {
        animation: fullscreenBtnAnimation 1s linear infinite;
    }
}

.searchWrapper {
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    &.fullscreen {
        width: 30%;
        left: 35%;
    }
}
.countriesSearchField {
    height: 30px;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    color: rgba(0,0,0,.6);
    text-shadow: 2px 2px 3px hsla(0,0%,100%,.1);
    box-shadow: inset 0 0 10px;
    background-color: rgba(35,35,3, 0.2);
    padding: 0 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.countriesSearchFieldResults {
    position: absolute;
    top: 30px;
    width: 100%;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #b6bbaf;
}
.searchFieldResult {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: dimgray;
    color: floralwhite;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 3px;
    padding-left: 5px;
    &:hover {
        background-color: palegoldenrod;
        color: dimgray;
        font-weight: 700;
    }
    &:active {
        transform: translate(2px, 2px);
    }
}
.sortCountryListBtnsWrapper {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    height: 90px;
    &.fullscreen {
        width: 30%;
        margin: 0 auto;
    }
}

.sortCountryListBtnsSubWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    &.fullscreen {
        width: 88%;
    }
}
.sortCountryListBtnsSwitcher {
    // height: 90%;
    width: 18%;
    appearance: none;
	border-radius: 5px;
	border: 2px solid #696969;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 2px;
    font-family: $font_1;
    box-shadow: inset 0 0 10px;
    background-color: rgba(35,35,3, 0.2);
    color: #fffaf0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
	&:focus {
		outline: none;
    }
    &:before {
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        content: 'all peoples';
    }
	&:after {
		content: "";
		width: 100%;
		height: 20%;
		background: #696969;
		position: absolute;
		top: 0;
		margin: auto;
		transition: 0.2s;
		box-shadow: 1px 0 5px -1px rgba(0, 0, 0, 0.2);
	}
	&:checked {
        &:before {
            text-align: center;
            content: 'per \00000a100k';
            white-space: pre;
            top: 20%;
        }
		&:after {
			top: 80%;
			box-shadow: -1px 0 5px -1px rgba(0, 0, 0, 0.2);
		}
    }
    &.fullscreen {
        width: 63px;
    }
}

.sortCountryListBtn {
    height: 42%;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: dimgray;
    color: floralwhite;
    font-size: 0.5em;
    text-transform: uppercase;
    transition: 0.3s;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    &:nth-child(6), &:nth-child(7), &:nth-child(8) {
        padding: 0 17px;
    } 
    &.active {
        background-color: #488f8f;
        box-shadow: inset 0 0 10px;
        background-color: rgba(35,35,3, 0.8);
    }
    &:not(:last-child) {
        border-right: 1px solid rgba(35,35,3, 0.8);
    }
    &:hover {
        background-color: #488f8f;
        box-shadow: inset 0 0 10px;
        background-color: rgba(35,35,3, 0.8);
    }
    &:active {
        transform: translate(2px, 2px);
    }
    &.hidden {
        display: none;
    }
    &.hidden {
        display: none;
    }
}

.countriesList {
    height: 77%;
    overflow-y: scroll;
    width: 100%;
    &.fullscreen {
        width: 30%;
        height: 88%;
        margin: 0 auto;
    }
}
.country {
    padding: 6px 10px 6px 50px;
    width: 100%;
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 12px;
    background-position: 0% 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0.9);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 10px;
    background-color: rgba(35,35,3, 0.2);
    transition: 0.15s;
    &.active, &:hover {
        cursor: pointer;
        color: white;
        box-shadow: inset 0 0 10px;
        background-color: rgba(35,35,3, 0.8);
        span:first-child {
            color: white;
        }
    }
}
.optionValue {
    display: inline-block;
    width: 30%;
    color: #842727;
}
.optionCountryName {
    display: inline-block;
    text-align: left;
}
