.wrapper-statistics {
  padding: 10px;
  height: 33%;
  box-shadow: inset 0 0 10px;
  position: absolute;
  top: calc(5% + 2px);
  // left: calc(50% + 4px);
  right: 0;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(35, 35, 3, 0.2);
  font-weight: 700;
  box-sizing: border-box;
  transition: 0.5s;
  min-height: 312px;
  overflow: hidden;
  @media screen and (max-width: 1650px) {
    right: 0;
    left: auto;
  }
  &.fullScreen {
    z-index: 1100;
    width: 100%;
    height: 95%;
    background-color: #b3b8ab;
    left: 0;

    .current__text {
      @media screen and (max-width: 1650px) {
        white-space: nowrap;
      }
    }
  }
}
.current__text {
  @media screen and (max-width: 1650px) {
    white-space: normal;
  }
}
.statistics__header {
  text-align: center;
  font-size: 2.4rem;
}
.statistics__current {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.statistics__content {
  text-align: center;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  column-gap: 8px;
  box-shadow: inset 0 0 5px;
  background-color: rgba(35, 35, 3, 0.2);
  border-radius: 0 5px 5px;
  box-sizing: border-box;
}
.statistics__icon {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}
.statistics__text {
  font-size: 2rem;
}
.current__property {
  margin-bottom: 10px;
}
.current__region {
  margin-top: 15px;
}

.statistics__confirmed,
.statistics__deaths,
.statistics__recovered {
  justify-content: center;
  column-gap: 15px;
  margin-bottom: 10px;
}

.current__statistics {
  width: 145px;
  margin-top: 20px;
}
.list__statistics {
  text-align: left;
  margin-top: 20px;
}
.item__statistics {
  padding: 6px 10px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.4rem;
  background-position: 0 50%;
  background-size: 40px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 2px 2px 3px hsla(0, 0%, 100%, 0.1);
  box-shadow: inset 0 0 10px;
  transition: 0.15s;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  min-width: 272px;
  .property {
    color: #842727;
  }
}
.item__statistics:hover {
  cursor: pointer;
  color: #fff;
  box-shadow: inset 0 0 10px;
  background-color: rgba(35, 35, 3, 0.8);
  .property {
    color: #fff;
  }
}
.wrapper-switch {
  display: flex;

  column-gap: 10px;
  margin-top: 15px;
  align-items: center;
  position: absolute;
  top: -7px;
  .graphSwitcherData {
    top: 1px;
  }
}
.switch__statistics {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}
.statistics__subtitle {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  margin-top: 10px;
  column-gap: 3px;
}

.statistics__region,
.statistics__continents {
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 0 5px;
  padding: 7px;
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 1650px) {
    font-size: 1.6rem;
  }
}

.continents {
  display: none;
  order: 3;
  width: 690px;
  padding: 10px 0 0 10px;
  overflow: hidden;
  @media screen and (max-width: 1650px) {
    width: 465px;
  }
  @media screen and (max-width: 1350px) {
    width: 375px;
  }
}

.list-continent {
  font-size: 1.4rem;
  border-right: 1px solid black;
  width: 90px;
  li {
    margin-bottom: 17px;
    padding: 0 4px;
  }
  &:last-child {
    border: none;
  }

  .item__region {
    margin-bottom: 12px;
  }
}
.color__confirmed {
  color: #675d04;
}
.color__deaths {
  color: #842727;
}
.color__recovered {
  color: #1b481b;
}
.wrapper-current-statistics {
  display: none;
  padding: 0px 15px 16px 10px;
  column-gap: 40px;
  width: 690px;
  justify-content: center;
  @media screen and (max-width: 1650px) {
    width: 465px;
    justify-content: space-between;
    column-gap: 0;
  }
}

.list-properties {
  text-align: left;
  margin-top: 26px;
  margin: 26px 10px 0 0;
}
.item__properties {
  margin-bottom: 17px;
}
.statistics_active {
  display: flex;
}
.active_tab {
  background-color: rgba(35, 35, 3, 0.2);
}
.wrapper-lists {
  display: flex;
  /*  @media screen and (max-width: 1650px) {
   
  } */
  @media screen and (max-width: 1350px) {
    width: 178px;
    overflow: hidden;
  }
}
.triangle-left {
  border-right: 9px solid #404344;
  display: none;
  @media screen and (max-width: 1650px) {
    display: block;
    left: 165px;
    top: 80px;
  }
}

.triangle-right,
.triangle-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  cursor: pointer;
}

.lists {
  display: flex;
  transition: all 0.5s;
}
.triangle-right {
  border-left: 9px solid #404344;
  display: none;
  @media screen and (max-width: 1650px) {
    display: block;
    right: 20px;
    top: 80px;
  }
}
@media screen and (max-width: 1350px) {
  .item__statistics {
    font-size: 1.3rem;
    min-width: 255px;
  }
  .wrapper-current-statistics {
    padding: 0 5px 5px 0px;
    width: 375px;
  }
  .current__property {
    white-space: normal;
  }
}
.current__data {
  font-size: 2.5rem;
  @media screen and (max-width: 1350px) {
    font-size: 1.7rem;
  }
}
