.tableTotalWrapper {
    // grid-area: 2 / 1 / 3 / 2;
    position: absolute;
    top: 9%;
    width: 20%;
    height: 33%;
    text-align: center;
    min-width: 250px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px;
    background-color: rgba(35,35,3, 0.2);
    font-size: 24px;
    // & > div {
    //     box-shadow: inset 0 0 10px;
    //     background-color: rgba(35,35,3, 0.1);
    // }
    perspective: 1000px;
    &.fullScreen {
        width: 100%;
        height: 91%;
        z-index: 50;
        font-size: 48px;
        background-color: #b3b8ab;   

    }
    transition: 0.5s;
    h2, h3, .tableTotalDailyInfoBtn, .tableTotalAddInfoBtn  {
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
        font-size: 0.7em;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5;
        position: relative;
    }
    h2:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: rgba(0,0,0,0.6);;
    }
    h3 {
        font-size: 1em;
    }

    .tableTotalDeathsCounter {
        color: #842727;
    }
    .tableTotalCasesCounter {
        color: #675d04;
    }
    .tableTotalRecoveredCounter {
        color: #1b481b;
    }
    .tableTotalDateWrapper {
        padding-top: 10px;
        h2:before {
            display: none;
        }
    }
    .tableTotalDate {
        font-size: 0.8em;
    }
    .tableTotalDailyInfoBtn, .tableTotalAddInfoBtn {
        position: absolute;
        top: 25%;
        z-index: 5;
        writing-mode: vertical-lr;
        text-orientation: upright;
        padding-left: 0.5em;
        font-size: 24px;
        width: 60px;
        height: 50%;
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
        box-shadow: inset 0 0 10px;
        background-color: rgba(35,35,3, 0.2);
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: 0.1s;
        &:hover{
            background-color: #fff;
            box-shadow: inset 60px 0 10px;
        }
        &:active {
            transform: scale(0.95);
        }
        &.disactive {
            transform: scale(0);
        }
     }  
     .tableTotalAddInfoBtn {
            border-radius: 5px 0 0 5px;
            right: 0;
        }
    .tableTotalInfoWrapper, .tableTotalInfoWrapperReverse {
        display: flex;
        flex-direction: column;
        align-items: center;
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        top: 22%;
        z-index: 2;
        transition: transform 1s;
        &.rotated {
            transform: rotateY(180deg);
            z-index: 1;
        }

    }
    .tableTotalInfoWrapperReverse {
        z-index: 1;
        transform: rotateY(180deg);
        &.rotated {
            z-index: 2;
            transform: rotateY(360deg);
        }
    }
    .fullScreenTotalTable {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background: url('../img/fullscreen.png') 50%/cover no-repeat;
        transition: 1s;
        @keyframes fullscreenBtnAnimation {
            50%{transform : scale(0.6)}
        }
        &:hover {
            animation: fullscreenBtnAnimation 1s linear infinite;
        }
    }
}

